.item-view {
    border-radius: 10px;
    background: #dbdfe4;
}

.item-view-name-text {
    color: #2d3436;
}

.item-view-date-text {
    color: #636e72;
}

.item-view-plain-text {
    color: #2d3436;
}
